@import "tailwindcss";

* {
  font-family: 'Outfit', sans-serif;
}

html, body, * {
  -webkit-user-select: none; /* Safari, Chrome */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+ */
  user-select: none;         /* Estándar */
  -webkit-touch-callout: none; /* Evita menú contextual en iOS */
}

/* Evita que arrastren o descarguen imágenes */
img, svg, video, picture, canvas {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

.allow-select,
input, textarea, button, select, a {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
  pointer-events: auto !important;
}

.clickable-img {
  pointer-events: auto;
  -webkit-user-drag: element;
}

.img-no-save {
  position: relative;
}
.img-no-save::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 10;
}

.no-select-cursor * {
  cursor: default !important;
}
